body {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'AOS Icons', 'Helvetica Neue',
		Helvetica, Arial, sans-serif, system-ui;
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
}

/* .main-content {
  padding: 20px;
} */


nav {
  background-color: #5a3d7b;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

nav .main-content{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

/* nav h1 {
  list-style: none;
  display: flex;
  gap: 20px;
} */

.nav-links a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

.nav-links a:hover {
  text-decoration: underline;
}

.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  background-color: #a374c1;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.hero{
  display: flex;
  background-color: #ece4f1;
  padding: 40px;
  border-radius: 15px;
  margin: 20px;
  align-items: center;
  
}

.hero-text  {
  display: flex;
  color: #a374c1;
  justify-content: center ;
  align-items: center;
  text-align: center;
  font-size: 30px;
}





.button {
  background-color: #a374c1;
  border: none;
  color: white;
  padding: 8x 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #5a3d7b;
}

.feauture-card img{
  max-width: 400px;
  border-radius: 20px;
 display: block;
 margin: 0 auto;
  /* margin-top: 50px; */
  /* align-items: center; */
  
}
